body {
  font-family: Microsoft JhengHei;
  margin: 108px 0 0 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #000;
  .header_wrap {
    width: 1200px;
    height: 108px;
    margin: auto;
    display: grid;
    grid-template-columns: 140px 700px auto;
    grid-template-rows: 90px auto;
    .header_logo_box {
      grid-area: 1/1/3/2;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      img {
        width: 125px;
        height: 55px;
        object-fit: cover;
      }
    }
    .header_search_box {
      grid-area: 1/2/2/3;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      .search_input_box {
        position: relative;
        width: 635px;
        input {
          width: 635px;
          height: 46px;
          box-sizing: border-box;
          font-size: 20px;
          padding: 7.2px 110px 7.2px 20px;
          border-radius: 23px;
          border: 1px solid #777777;
          color: #777777;
        }
        button {
          position: absolute;
          right: 0;
          width: 73px;
          height: 46px;
          border-radius: 23px;
          border: 0;
          background-color: #6001d2;
          cursor: pointer;
        }
      }
      .hand_writing_icon {
        padding-left: 10px;
        cursor: pointer;
      }
    }
    .header_login_box {
      grid-area: 1/3/2/4;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      ul {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        font-size: 13px;
        padding-left: 20px;
        li {
          padding: 15px;
        }
        .weather_box {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          color: #777777;
          .temperature {
            position: absolute;
            top: 13px;
            left: 35px;
          }
          .county {
            font-size: 14px;
            padding-left: 13px;
          }
        }
        .login_box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          a {
            text-decoration: none;
            color: #6001d2;
            border: 2px solid #6001d2;
            border-radius: 3px;
            padding: 2px 25px 3px 25px;
            font-weight: bold;
            &:hover {
              background-color: #6001d2;
              color: white;
            }
          }
        }
        .email_box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          a {
            text-decoration: none;
            color: #6001d2;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            .email_text {
              font-weight: bold;
              padding-left: 6px;
            }
          }
        }
      }
    }
    .header_hot_keyword_box {
      grid-area: 2/2/3/4;
      ul {
        list-style: none;
        font-size: 13px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        margin-bottom: 0;
        margin-top: -13px;
        li {
          padding: 0 10px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          a {
            text-decoration: none;
            color: #324fe1;
          }
          a.emphasize {
            color: #ef4e5e;
          }
        }
      }
    }
  }
}

main {
  width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: 150px 630px auto;
  .aside_service {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .service_box {
      ul {
        list-style: none;
        padding: 0;
        margin: 0 5px;
        font-size: 15px;
        border-bottom: 1px solid #777777;
        li {
          padding: 6px 0;
          a {
            text-decoration: none;
            color: #1d1da3;
          }
          a.emphasize {
            color: #ef4e5e;
          }
        }
      }
    }
    .all_service_link_box {
      font-size: 13px;
      padding: 10px 0 0 5px;
      a {
        text-decoration: none;
        color: #1d1da3;
      }
    }
  }
  section {
    border: 1px solid #000;
    display: grid;
    grid-template-rows: 60px 700px auto;
    .ad_rotation_box {
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        background-color: #ff6c0f;
        color: #ffffff;
        border-radius: 5px;
        padding: 5px 5px 5px 15px;
        .ad_rotation_text {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          h4 {
            margin: 0;
          }
          p {
            margin: 0;
            padding-left: 15px;
          }
        }
        img {
          width: 70px;
          height: 39px;
          object-fit: cover;
          border-radius: 5px;
        }
      }
    }
    .news_tabs_box {
      border: 1px solid #000;
      ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        background-color: #f2f2f4;
        padding: 0;
        margin: 0;
        li {
          padding: 6px 33px;
          cursor: pointer;
          box-sizing: border-box;
        }
        li.news_tabs_focus {
          color: #6001d2;
          background-color: #fff;
          border-top: 3px solid #6001d2;
        }
      }
      .news_tabs_content {
        display: grid;
        grid-template-columns: 330px 300px;
        .important_news {
          border: 1px solid #000;
        }
        .some_news {
          border: 1px solid #000;
        }
      }
    }
    .unlimited_news_tabs_box {
    }
  }
  .aside_advertisement {
    border: 1px solid #000;
  }
}
